@use "sass:map";
@use "./_variables.scss" as *;

// * flex display mixin
@mixin flexDisplay(
  $display: flex,
  $flex-direction: row,
  $align-items: center,
  $justify-content: center,
  $gap: 0
) {
  display: $display;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  gap: $gap;
  @content;
}

// * responsive mixins
@mixin respond-to($size) {
  @if map.has-key($breakpoints, $size) {
    @media (min-width: map.get($breakpoints, $size)) {
      @content;
    }
  } @else {
    @error "Unfortunately, no value could be retrieved from `#{$size}`. Please make sure it is defined in the breakpoint map.";
  }
}
