$primary-blue: #0b1220;
$text-muted-black: #5e687a;
$text-nav: #29354b;
$secondary-blue: #2155f5;
$success: #0f8a62;
$bgcolor: #f7f9fc;

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);
